/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: var(--div_color);
    border-radius: var(--div_raduse);
    margin: 20px 30px 2px 20px;
    -webkit-box-shadow: 0px 0px 20px blue;
            box-shadow: 0px 0px 20px blue;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
@media only screen and (max-width : 600px){
    .div{
        display:block;
        background:red;
    }
}
.div:hover{
    background: rgb(16, 5, 64);
   }
   .div::before{
       content: "";
       width: 5px;
       border-radius: 20px;
       height: 5px;
       background: red;
       position: absolute;
       bottom: 1px;
       left: 15px;
       -webkit-animation: brdr infinite linear 1s  ;
               animation: brdr infinite linear 1s  ;
   }
   @-webkit-keyframes brdr{
       0%{background: red; }
       50%{ background: yellow;}
       100%{ background: red;}
   }
   @keyframes brdr{
       0%{background: red; }
       50%{ background: yellow;}
       100%{ background: red;}
   }
   .div::after{
       content:"";
       position: absolute;
       top:-20px;
       left: 70%;
       right: -10%;
       max-width: 100px;
       height: 100px;
       border-radius: 50px;
       margin: 0 0 0 auto;
       -webkit-transition: 0.3s linear;
       -o-transition: 0.3s linear;
       transition: 0.3s linear;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       scale: 0.8;
   }
   #div_1::after {
       content:"";
       background-image: url(pic/wallpaper.jpeg);
       position: absolute;
       top:-20px;
       left: 70%;
       right: -10%;
       max-width: 100px;
       height: 100px;
       border-radius: 50px;
       margin: 0 0 0 auto;
       -webkit-transition: 0.3s linear;
       -o-transition: 0.3s linear;
       transition: 0.3s linear;
       background-size: 100px 100px;
       scale: 0.8;
   }
   #div_2::after{
       background-image: url(pic/F33CC5A0-ECF1-4D79-B81D-7509F73CD481.png);
       background-size: 200%;
       max-width: 70px;
       background-position: -40px -43px;
       height: 70px;
       background-repeat: no-repeat;
   }
   #div_3::after{
       max-width: 90px;
       height: 90px;
       background: red;
       background-image: url(pic/wallpaper.jpeg);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
   }
   #div_1:hover::after{
       scale: 0.9;
   }  
   #div_2:hover::after{
       scale: 0.9;
   }  
   #div_3:hover::after{
       scale: 0.9;
   }  
